<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 消费方应用信息 -->
    <dubbo:application name="p-trace-oc-test"/>

    <!-- 使用zookeeper注册中心暴露服务地址 -->
    <dubbo:registry protocol="zookeeper" address="zk201.dev.rs.com:2181,zk202.dev.rs.com:2181,zk203.dev.rs.com:2181"/>

    <dubbo:consumer check="false"/>


    <dubbo:reference id="orderService" version="1.0.0" interface="com.chinaredstar.ordercenter.serviceinterface.order.IOrderService" timeout="6000" retries="0"/>
    <dubbo:reference id="queryOrderService" version="1.0.0" interface="com.chinaredstar.ordercenter.service.order.IQueryOrderService" timeout="10000" retries="0"></dubbo:reference>

</beans>